**DecisionTreeClassifier**

In this sample activity, I am looking at using the DecisionTreeClassifier to predict which genre of music an individual might below based on age and gender.

The data description is as follows
- Age
- Gender
- Genre




- Age
     - The age is a numerical value of the individual
- Gender
     - The gender is also a numerical value of the individual but spans between 0 and 1 where 0 is female and 1 is male
- Genre
     - The genre is a categorical value

In [80]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

In [81]:
data = pd.read_csv('music.csv')

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     18 non-null     int64
 1   gender  18 non-null     int64
 2   genre   18 non-null     object
dtypes: int64(2), object(1)
memory usage: 560.0+ bytes

The present data that I am working with is small and has 18 rows

In [83]:
data

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   37       0  Classical

In [84]:
X = data[['age', 'gender']]
y = data['genre']

In [85]:
while True:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
    
    model = DecisionTreeClassifier()
    model = model.fit(X_train, y_train)
    predictions = model.predict(X_test)
    
    acc = accuracy_score(y_test, predictions)
    if acc > 0.9:
        break

In [86]:
acc

1.0

I am going to make a new prediction for a male aged 27 and a female aged 22.

From the above data, we can see that there is no record of genre for a male aged 27 and a female aged 22

In [87]:
def input_values(age=22, gender=1):
    return [age, gender]

In [88]:
new_prediction = model.predict([input_values(age=27, gender=1), input_values(gender=0)])

In [89]:
print('Prediction of genre for Male and Female',new_prediction)

Prediction of genre for Male and Female ['Jazz' 'Dance']

From the predictions made above, we can tell that a male aged 27 might like Jazz music while a female aged 22 might like Dance music