In [101]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

I am going to read data in the next

In [102]:
data = pd.read_csv('student-mat.csv', sep=';')

In [103]:
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [104]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

My interest would be on the following columns ['studytime', 'failures', 'absences', 'G1', 'G2', 'G3']

In [105]:
working_columns = ['studytime', 'failures', 'absences', 'G1', 'G2', 'G3']

In [106]:
data = data[working_columns]

In [107]:
data.head()

   studytime  failures  absences  G1  G2  G3
0          2         0         6   5   6   6
1          2         0         4   5   5   6
2          2         3        10   7   8  10
3          3         0         2  15  14  15
4          2         0         4   6  10  10

The goal is to be able to predict the final grade(G3) of the student based on the study time, failures, absences, Grade1 and Grade2.

G3 is the final grade of the student which is our current interest.
I am going to go ahead and remove that column from our data so that we just have studytime, failures, absences, G1 and G2 as our data to make predictions from.

In [108]:
predictive_column_name = 'G3'

predictive_values = data[predictive_column_name]

data.drop(columns=[predictive_column_name], inplace = True)

In [109]:
data

     studytime  failures  absences  G1  G2
0            2         0         6   5   6
1            2         0         4   5   5
2            2         3        10   7   8
3            3         0         2  15  14
4            2         0         4   6  10
..         ...       ...       ...  ..  ..
390          2         2        11   9   9
391          1         0         3  14  16
392          1         3         3  10   8
393          1         0         0  11  12
394          1         0         5   8   9

[395 rows x 5 columns]

Now I am going to train my data

In [110]:
X = np.array(data)
y = np.array(predictive_values)

In the quest of training my model, I want to make sure that I get a score that is above 0.9 hence I am using a while loop to keep training the model until the desired score is achieved before breaking out of that loop

In [111]:
while True:
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    if model.score(X_test, y_test) > 0.9:
        break

In [112]:
acc = model.score(X_test, y_test)
acc

0.9228540543059629

In [113]:
predictions = model.predict(X_test)

I am printing below the first 10 predictions made from the model

In [114]:
for i in range(len(predictions)):
    if i < 10:
        print("Predicted score", predictions[i], "Input value", X_test[i], "Actual grade score", y_test[i])

Predicted score 10.593276603659017 Input value [ 2  0  6 10 11] Actual grade score 11
Predicted score 10.74827168638187 Input value [ 2  1  3 13 11] Actual grade score 11
Predicted score 15.740023735388746 Input value [ 3  0 16 16 15] Actual grade score 15
Predicted score 12.821733393579681 Input value [ 2  0  0 13 13] Actual grade score 13
Predicted score 17.9318799108991 Input value [ 2  0 13 17 17] Actual grade score 17
Predicted score 15.196400353277603 Input value [ 2  0  2 15 15] Actual grade score 16
Predicted score 9.285672257835532 Input value [ 2  0  2  9 10] Actual grade score 10
Predicted score 16.441464780888044 Input value [ 1  0  4 15 16] Actual grade score 15
Predicted score 11.219915949175006 Input value [ 3  1  4 11 12] Actual grade score 11
Predicted score 16.437975106640177 Input value [ 2  0  0 17 16] Actual grade score 17